[Desktop Entry]
Type=Application
Name=RomMix
GenericName=RomM Game Launcher
Comment=Browse, download and play your RomM library
Exec=rommix
Icon=be.bl_it.RomMix
Terminal=false
Categories=Game;Emulator;
Keywords=rom;romm;retro;emulator;retrodeck;retroarch;games;
StartupWMClass=RomMix
PrefersNonDefaultGPU=true
